<div class="all_tickets">
  <div class="test">
    <div class="createNewTicket">
      <button class="create_new_ticket" routerLink="/createNewTicket">Create New Ticket</button>
    </div>
    <div class="btn">
      <div class="left">
        <button class="all_ticket" autofocus>All Ticket</button>
      </div>
      <div class="right">
        <button class="my_tickets">My Tickets</button>
      </div>
    </div>
    <div class="input">
      <input type="text" name="filter" class="input_text">
    </div>

    <div>

      <div class="divTable" style="width: 100%;">
        <div class="divTableBody">
          <div class="divTableRow">
            <div class="divTableCellCap">id</div>
            <div class="divTableCellCap">Name</div>
            <div class="divTableCellCap">Desired Date</div>
            <div class="divTableCellCap">Urgency</div>
            <div class="divTableCellCap">Status</div>
            <div class="divTableCellCap">Actions</div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">1</div>
            <div class="divTableCell"><a routerLink="/ticketOverview">Task 1</a></div>
            <div class="divTableCell">11/11/2021</div>
            <div class="divTableCell">High</div>
            <div class="divTableCell">Draft</div>
            <div class="divTableCell">
              <select name="submit" class="btnTable">
                <option value='Action 1'>Submit</option>
                <option value='Action 2'>Approve</option>
                <option value='Action 3'>View Feedback</option>
              </select>
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">2</div>
            <div class="divTableCell"><a routerLink="/ticketOverview">Task 2</a></div>
            <div class="divTableCell">11/11/2021</div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell">
              <select name="submit" class="btnTable">
                <option value='Action 1'>Submit</option>
                <option value='Action 2'>Approve</option>
                <option value='Action 3'>View Feedback</option>
              </select>
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">3</div>
            <div class="divTableCell"><a routerLink="/ticketOverview">Task 3</a></div>
            <div class="divTableCell">11/11/2021</div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell">
              <select name="submit" class="btnTable">
                <option value='Action 1'>Submit</option>
                <option value='Action 2'>Approve</option>
                <option value='Action 3'>View Feedback</option>
              </select>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
